[Unit]
Description=Prometheus exporter for Foomuuri metrics
After=foomuuri-monitor.service
After=network-online.target

[Service]
Environment=OPTIONS=
EnvironmentFile=/etc/default/prometheus-foomuuri-exporter
User=root
Restart=on-failure
ExecStart=prometheus-foomuuri-exporter $OPTIONS

[Install]
WantedBy=multi-user.target
