[Unit]
Description=Multizone bidirectional nftables firewall
Documentation=https://github.com/FoobarOy/foomuuri/wiki
After=local-fs.target
Before=network-pre.target
Wants=network-pre.target
Wants=foomuuri-dbus.service
Wants=foomuuri-iplist.timer
Wants=foomuuri-monitor.service
Wants=foomuuri-resolve.timer

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/foomuuri start-or-good
ExecReload=/usr/sbin/foomuuri start
ExecStop=/usr/sbin/foomuuri stop

[Install]
WantedBy=multi-user.target
