[Unit]
Description=Multizone bidirectional nftables firewall - Update iplist entries
Documentation=https://github.com/FoobarOy/foomuuri/wiki
Requires=foomuuri.service
PartOf=foomuuri.service

[Timer]
OnBootSec=4m
OnUnitInactiveSec=24h
