[Unit]
Description=Multizone bidirectional nftables firewall - Refresh resolve hostnames
Documentation=https://github.com/FoobarOy/foomuuri/wiki

[Service]
ExecStart=/usr/sbin/foomuuri resolve refresh
