[Unit]
Description=Multizone bidirectional nftables firewall - Refresh resolve hostnames
Documentation=https://github.com/FoobarOy/foomuuri/wiki

[Service]
Type=oneshot
ExecStart=foomuuri resolve refresh
