[Unit]
Description=Multizone bidirectional nftables firewall - D-Bus handler
Documentation=https://github.com/FoobarOy/foomuuri/wiki
After=dbus.service
After=polkit.service
After=foomuuri.service
Requires=foomuuri.service
PartOf=foomuuri.service
Conflicts=firewalld.service

[Service]
Type=notify
ExecStart=/usr/sbin/foomuuri dbus
ExecReload=kill -HUP $MAINPID
