[Unit]
Description=Multizone bidirectional nftables firewall - Target monitor
After=network-online.target
After=foomuuri.service
PartOf=foomuuri.service

[Service]
Type=notify
ExecStart=/usr/sbin/foomuuri monitor
ExecReload=kill -HUP $MAINPID
