[Unit]
Description=Multizone bidirectional nftables firewall - Resolve hostnames
Documentation=https://github.com/FoobarOy/foomuuri/wiki
Requires=foomuuri.service
PartOf=foomuuri.service

[Timer]
OnActiveSec=2m
OnUnitActiveSec=15m
