[Unit]
Description=Multizone bidirectional nftables firewall - Refresh iplist entries
Documentation=https://foomuuri.foobar.fi/latest/

[Service]
Type=notify
ExecStart=foomuuri --soft iplist refresh
TimeoutStartSec=2m
ProtectSystem=full
