[Unit]
Description=Multizone bidirectional nftables firewall - Refresh iplist entries
Documentation=https://github.com/FoobarOy/foomuuri/wiki

[Service]
Type=notify
ExecStart=foomuuri --soft iplist refresh
TimeoutStartSec=2m
ProtectSystem=full
