[Unit]
Description=Multizone bidirectional nftables firewall - Update iplist entries
Documentation=https://github.com/FoobarOy/foomuuri/wiki

[Service]
ExecStart=/usr/sbin/foomuuri iplist
