name: Foomuuri

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run_tests:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.12", "3.14"]

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: pip install flake8 pycodestyle pylint
      - name: Run test suite
        run: make test
